[Unit]
Description=FastAPI Application
After=network.target

[Service]
User=csye6225
WorkingDirectory=/opt/csye6225/app
ExecStart=/opt/csye6225/venv/bin/python /opt/csye6225/app/app.py
Restart=always

[Install]
WantedBy=multi-user.target