[Unit]
Description=FastAPI Application
After=network.target

[Service]
User=csye6225
Environment="MYSQL_HOST=__MYSQL_HOST__"
Environment="MYSQL_USER=__MYSQL_USER__"
Environment="MYSQL_PASSWORD=__MYSQL_PASSWORD__"
Environment="MYSQL_DATABASE=__MYSQL_DATABASE__"
Environment="MYSQL_PORT=3306"
WorkingDirectory=/opt/csye6225/app
ExecStart=/opt/csye6225/venv/bin/python /opt/csye6225/app/app.py
Restart=always

[Install]
WantedBy=multi-user.target